.btns-wrapper {
  display: flex;
  justify-content: space-between;
  button {
    background-color: #fff;
    border: none;
    width: 200px;
    height: 200px;
    border: 4px solid #000;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
  }
  .clicked-btn {
    background-color: #f0e7be;
  }
}
