.play-board-wrapper {
  width: 100%;
  height: 125vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
  .top-line,
  .bottom-line {
    background-color: #000;
    height: 1.1rem;
  }
  .board-wrapper {
    width: 100%;
    height: 95.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .cards-section {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-left: 10rem;
    }
    .side-bar-section {
      width: 10rem;
      height: 100%;
      // background-color: hotpink;
      display: flex;
      align-items: center;
      // flex-direction: column;
      // padding: 9rem 0;
      .side-bar-content {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        .icons {
          display: flex;
          flex-direction: column;
          padding-top: 3rem;
          .icon-link {
            margin-bottom: 1rem;
          }
        }
        .score {
          font-size: 1.5rem;
          margin-bottom: 3rem;
        }
      }
    }
  }
  .info-wrapper {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .info {
      width: 65rem;
      display: flex;
      justify-content: space-between;
    }
  }
  // .score {
  //   width: 3rem;
  //   display: flex;
  //   padding: 1.5rem 0;
  //   align-items: flex-end;
  // }
}
