.content-wrapper {
  display: flex;
  height: 100%;
  .input-fields {
    width: 25rem;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    input {
      width: 24rem;
      height: 3rem;
      color: #e6e6e6;
      margin-bottom: 3rem;
      border: none;
      border-left: 5.5px solid black;
      padding-left: 1.8rem;
      font-size: 1.5rem;
      letter-spacing: 1px;
      outline: none;
      color: #000;
      caret-color: #e6e6e6;
    }
    input:nth-child(1) {
      font-size: 2rem;
    }
    input::placeholder {
      color: #e6e6e6;
      font-weight: bold;
    }
  }
}
