header {
  background-color: #fff;
  width: 100%;
  height: 22vh;
  .top-line {
    background-color: #000;
    height: 1.1rem;
  }
  .header-main {
    padding: 50px;
    .header-main__content {
      display: flex;
      justify-content: space-between;
      a {
        font-size: 1.7rem;
        font-weight: 800;
      }
      button {
        margin-left: 20px;
        padding: 6px 10px;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
      }
      .create-btn {
        background-color: #f0e7be;
      }
      .signIn-btn {
        background-color: #000;
        color: #fff;
      }
    }
  }
}
