.wrapper {
  height: 76vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
  .content {
    width: 60rem;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .prev,
  .next {
    width: 20rem;
    display: flex;
    justify-content: center;
  }
}
